body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

header {
}

nav
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}

#logo_booki 
{
    width: auto;

}

nav img {
    height: 20px;
}


nav a
{
    text-decoration: none;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 38.5px;

}



nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

main {
    padding: 0 20px;
}

h1 {
    font-weight: 800;
    font-size: 2.35rem;
    margin-top: 50px;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}


.iconeLocation {
    background-color: #F2F2F2;
    padding: 25px;
    border-radius: 15px 0 0 15px;
}

form {
    margin: 0;
    display: flex;
}

form input {
    height: 51px;
    border: 1px  #F2F2F2 solid;
    padding-left: 10px;
}

form p {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    
}

.iconeSearch {
    padding: 15px;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065FC;
    font-weight: 700;
    border: none;
}

.iconeSearchMobile {
    display: none;
}

.iconeSearchDesktop {
    display: flex;
}


.sectionFiltres {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 30px;
}

.filtre {
    margin-left: 20px;
    padding: 20px 30px;
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
}

.filtre:hover{
    background-color: #DEEBFF;
}

.iconeBlue {
    color: #0065FC;
}

.infoDiv {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.infoDiv p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.infoCadreIcone {
    border: 2px #F2F2F2 solid;
    padding:5px;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.infoCadreIcone i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}