body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

nav {
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}

#logo_booki 
{
    width: auto;

}

nav img {
    height: 20px;
}


nav a
{
    text-decoration: none;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 38.5px;

}



nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

main {
    padding: 0 20px;
}

h1 {
    font-weight: 800;
    font-size: 1.75rem;
    margin-top: 50px;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}


.iconeLocation {
    background-color: #F2F2F2;
    padding: 18px;
    border-radius: 15px 0 0 15px;
    height: 55px;
}

form {
    margin: 0;
    display: flex;
    align-items: center;
}

form input {
    height: 55px;
    border: 1px  #F2F2F2 solid;
    padding-left: 10px;
}

form p {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    
}

form .iconeSearch {
    border: 1px #0065FC solid;
} 

.iconeSearch {
    padding: 15px;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065FC;
    font-weight: 700;
    border: none;
}

.iconeSearchMobile {
    display: none;
}

.iconeSearchDesktop {
    display: flex;
}


.sectionFiltres {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 30px;
}

.filtre {
    margin-left: 20px;
    padding: 20px 30px;
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
}

.filtre:hover{
    background-color: #DEEBFF;
}

.iconeBlue {
    color: #0065FC;
}

.infoDiv {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.infoDiv p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.infoCadreIcone {
    border: 2px #F2F2F2 solid;
    padding:5px;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.infoCadreIcone i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.sectionHebergement {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.herbergementMarseille {
    background-color:#F2F2F2;
    height: 625px;
    width: 880px;
    border-radius: 20px;
}

.lesPlusPopulaires {
    background-color: aquamarine;
    height: 625px;
    width: 420px;
    border-radius: 20px;
}

.herbergementMarseille p {
    margin: 40px;
    font-weight: 800;
    font-size: 1.75rem;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    width:26%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:30px;

}

.card img {
    width: 100%;
}

.contentCard {
    padding: 10px;
}

.contentCard h3 {
    font-size: 1.05rem;
    margin: 0;
    font-weight: 800;
}

.contentCard p {
    font-size: 1rem;
    margin:0;
    font-weight: 100;

}
